@import '../../style/color';

.button {
  border: 0;
  border-radius: 15px;
  color: $color-black;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
