@import '../../style/screen-mixin';

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 50px 0;
}

@include min-respond-to(large) {
  .container {
    width: 1024px;
  }
}

@include media-interval(large, xxsmall) {
  .container {
    width: 100%;
  }
}
