@import '../../style/color';
@import '../../style/font';
@import '../../style/screen-mixin';

.header {
  border-bottom: 1px solid $color-header-border;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 7px 50px;

  &__logo {
    font-family: $font-gaegu, cursive;
    font-size: 25px;
  }
}

@include min-respond-to(large) {
  .header {
    height: 40px;
    width: 1024px;
  }
}

@include media-interval(large, xsmall) {
  .header {
    height: 40px;
    width: 100%;
  }
}

@include media-interval(xsmall, xxsmall) {
  .header {
    flex-direction: column;
    padding-bottom: 10px;
    width: 100%;

    &__logo {
      font-family: $font-gaegu, cursive;
      font-size: 50px;
      margin: 0 auto;
      padding: 0;
    }

    &__menu {
      margin: 0 auto;
      padding: 0;
      padding-top: 10px;
    }
  }
}

