$breakpoints-map: (
  xlarge: 1440px,
  large: 1024px,
  medium: 992px,
  small: 768px,
  xsmall: 480px,
  xxsmall: 320px
);

@mixin max-respond-to($breakpoint) {
  $value: map-get($breakpoints-map, $breakpoint);
  @media screen and (max-width: #{$value}) {
    @content
  }
}

@mixin min-respond-to($breakpoint) {
  $value: map-get($breakpoints-map, $breakpoint);
  @media screen and (min-width: #{$value}) {
    @content
  }
}

@mixin media-interval($max, $min) {
  $max: map-get($breakpoints-map, $max);
  $min: map-get($breakpoints-map, $min);
  @media (max-width: $max) and (min-width: $min) {
    @content
  }
};
