@import '../../style/color';

.login {
  margin: auto;
  width: 400px;

  &__title {
    font-size: 30px;
    text-align: center;
  }

  &__submit {
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 60%;
  }

  &__label {
    width: 30%;
  }

  &__input {
    border: 1px solid $color-input-border;
    border-radius: 4px;
    height: 20px;
    padding: 0 5px;
    width: 60%;
  }
}

.error {
  border-color: $color-error-border;
}

.form {
  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}
