@import '../../style/font';
@import '../../style/color';
@import '../../style/screen-mixin';

.chat {
  display: flex;
  font-family: $font-merienda, cursive;
  height: 50px;
  justify-content: space-between;
  padding-bottom: 20px;

  &__info {
    display: flex;
  }

  &__image {
    display: inline-block;
    height: 50px;
    width: 75px;
  }

  &__name {
    align-items: center;
    display: flex;
    font-size: 25px;
    padding-left: 25px;
  }

  &__action {
    align-items: center;
    display: flex;
  }

  &__link-to {
    color: $color-black;
    text-decoration: none;

    &:hover {
      color: $color-hover-link;
    }
  }
}
