@import '../../style/color';
@import '../../style/font';

.menu {
  color: $color-black;
  display: flex;
  margin: 0;

  &__item {
    font-family: $font-merienda, cursive;
    list-style-type: none;
    padding: 5px;

    &:not(:last-child) {
      margin-right: 13px;
    }
  }

  &__link {
    color: $color-black;
    text-decoration: none;

    &_active {
      text-decoration: underline;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
